<!-- *footer -->
<footer class="text-gray-600 body-font">
    <div class="container px-5 py-2 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex justify-center title-font font-medium items-center text-gray-900 md:mb-0">
            <img src="/asssets/YAuTZk01.svg" alt="" class="w-[150px] h-[50px] object-cover">
            <span class="ml-3 text-xl"></span>
        </a>
       
        <span class="inline-flex gap-4 sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a href="https://wa.me/03097037742" target="_blank" rel="noopener noreferrer">
                <img src="/asssets/whatsap.svg" alt="WhatsApp" class="w-7 h-7 hover:scale-110 cursor-pointer">
            </a>

            <a href="https://github.com/ARSLAN-choudary" target="_blank" rel="noopener noreferrer">
                <svg class="w-7 h-7 hover:scale-110 cursor-pointer text-black dark:text-white" fill="currentColor"
                    viewBox="0 0 24 24">
                    <path
                        d="M12 2C6.48 2 2 6.48 2 12c0 4.8 3.43 8.79 7.9 10.19.58.11.8-.25.8-.55v-2.08c-3.24.69-3.93-1.56-3.93-1.56-.53-1.36-1.31-1.73-1.31-1.73-1.07-.73.08-.72.08-.72 1.18.08 1.8 1.22 1.8 1.22 1.05 1.8 2.75 1.28 3.42.98.1-.76.41-1.28.75-1.58-2.6-.3-5.33-1.3-5.33-5.78 0-1.28.46-2.33 1.22-3.16-.12-.3-.53-1.5.12-3.13 0 0 1-.32 3.27 1.23.95-.27 1.98-.4 3.02-.4 1.04 0 2.07.14 3.02.4 2.26-1.55 3.27-1.23 3.27-1.23.65 1.62.24 2.83.12 3.13.75.83 1.22 1.88 1.22 3.16 0 4.48-2.73 5.48-5.34 5.78.43.37.82 1.11.82 2.23v3.3c0 .3.22.67.8.55C20.57 20.79 24 16.8 24 12c0-5.52-4.48-10-10-10z" />
                </svg>
            </a>

            <a href="https://www.fiverr.com/s/vvoyZ6e" target="_blank" rel="noopener noreferrer">
                <img src="/asssets/fiverr.svg" alt="Fiverr" class="w-7 h-7 hover:scale-110 cursor-pointer">
            </a>
            <a href="https://www.linkedin.com/in/arslan-aslam-557511324/" target="_blank" rel="noopener noreferrer">
                <img src="/asssets/linkedin.svg" alt="LinkedIn" class="w-7 h-7 hover:scale-110 cursor-pointer">
            </a>
        </span>

    </div>
</footer>