<header class="text-gray-600 body-font bg-white bg-opacity-30 backdrop-blur-lg shadow-lg relative flex items-center">
  <div class="container mx-auto flex flex-wrap px-4 py-2 flex-col md:flex-row items-center">
    <!-- Logo Section -->
    <a class="flex title-font font-medium items-center text-gray-900 md:mb-0">
      <img src="/asssets/YAuTZk01.svg" alt="Logo" class="w-[150px] h-[50px] object-cover">
      <span class="ml-3 text-xl"></span>
    </a>

    <!-- Navigation Menu -->
    <nav class="md:mx-auto flex flex-col md:flex-row md:gap-6 gap-3 md:pb-0 pb-2 items-center text-base justify-center 
           transition-all duration-700 ease-in-out" [ngClass]="{'h-full': navopen, 'h-0': !navopen}">

      <a href="#home" class="navlink navlink-home dark:text-gray-400 md:mr-6">Home</a>
      <a href="#about" class="navlink navlink-about dark:text-gray-400 md:mr-6">About Me</a>
      <a href="#services" class="navlink navlink-services dark:text-gray-400 md:mr-6">Services</a>
      <a href="#projects" class="navlink navlink-project dark:text-gray-400 md:mr-6">Projects</a>
      <a href="#contact" class="navlink navlink-contact dark:text-gray-400">Contact Me</a>
    </nav>



    <!-- Theme Switcher -->
    <div class="absolute top-4 right-12 flex items-center cursor-pointer" (click)="switchTheme()">
      <img src="/asssets/moon.svg" alt="Moon" class="w-8 h-8 transition-opacity duration-500 ease-in-out"
        [ngClass]="{'opacity-100': !themeService.currentTheme, 'opacity-0': themeService.currentTheme}">
      <img src="/asssets/sun-with-face.svg" alt="Sun"
        class="w-8 h-8 transition-opacity duration-500 ease-in-out absolute right-0"
        [ngClass]="{'opacity-100': themeService.currentTheme, 'opacity-0': !themeService.currentTheme}">
    </div>

    <!-- Mobile Menu Button -->
    <button class="md:hidden block absolute top-4 right-4 p-2" aria-label="Toggle Navigation" (click)="togglenav()">
      <img src="/asssets/hamburger.svg" alt="Menu" class="w-5 h-5">
    </button>
  </div>
</header>